
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
/* nav bar  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: beige;    
}
nav div{
    font-size: 25px;
    color:red;
}
nav div:hover{
    color:blueviolet;
}
nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
}
.nav-links{
    margin-right: 400px;
}
.nav-links a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    margin-right: 20px;
}
.nav-links a:hover{
    color: blue;
    text-decoration: underline;
}

/* main page */
.main{
    min-height: 50vh;
    width: 100%;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
}
.main .search{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.search input{
    width: 30%;
    height: 30px;
    border-radius: 5px;
}
.search i{
    height: 29px;
    width: 25px;
    color: blue;
    border-radius: 2px;
    margin-top: 2px;
    font-size: 20px;
    margin-left: -50px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px;
}
.head span{
    height: 5px;
    width: 2rem;
    padding: 5px 10px;
    background-color: blue;
    color: #fff;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}


.content{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/* box section  */

.row{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.previous,.next{
    background-color: rgb(163, 159, 155);
    color: #fff;
    padding: 5px;
    width: 100px;
    text-align: center;
}
.number{
    display: flex;
    gap: 10px;
}
.one{
    background-color:rgb(163, 159, 155) ;
    color: #fff;
    width: 30px;
    text-align: center;
    align-content: center;
}
.two{
    background-color: blue;
}

/* footer section  */
.foot-part{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    margin: 20px;
    color: #fff;
    padding-left: 300px;
}

footer h3{
    color: #513232;
    margin-bottom: 10px;
    
}

.box-2,.box-3{
    padding-right: 100px;
}
.foot-part p{
    padding: 2px;
    margin-bottom: 5px;
}
footer h3:hover{
    text-decoration: underline;
    color: aqua;

}
.copy{
    text-align: center;
    background-color: #513232;
    height: 40px;
    padding: 5px;
    color: #fff;
}

/* media query */

@media (max-width:768px) 
{
    nav{
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
    }
    
    .nav-links{
        margin-right: 0;
        text-align: center;
        flex-direction: column;
        padding: 20px;
    }
    .main input{
        margin-top:70px;
    }
    .search i{
        margin-top: 74px;
        margin-left: 1px;
    }
   
     .photo img{
        width: 300px;
     }
     .foot-part{
        padding-left: 10px;
        

     }

    
}

@media (max-width:470px) 
{
.photo img{
        width: 150px;
     }
     .foot-part{
        flex-direction: column;
     }
}





